{% set device = hostvars[inventory_hostname] %}

{# OSPF Section #}

router ospf 1
  router-id {{ device.rid }}

{# Interface Section #}

{% for interface in device.interfaces %}
interface {{ interface.interface }}
{% if interface.vrf is defined %}
  vrf member {{ interface.vrf }}
{% endif %}
{% if interface.type is defined and 'routed' in interface.type %}
  no switchport
  ip address {{ interface.ipv4_addr }}/{{ interface.ipv4_mask }}
  ip router ospf 1 area 0.0.0.0
  mtu 9216
{% endif %}
{% if interface.type is defined and 'loopback' in interface.type %}
  ip address {{ interface.ipv4_addr }}/{{ interface.ipv4_mask }}
  ip router ospf 1 area 0.0.0.0
{% endif %}
  description {{ interface.description }}
  no shutdown

{% endfor %}

{# Routing Section #}

router bgp {{ device.asn }}
  router-id {{ device.rid }}
  address-family ipv4 unicast
{% for bgp in device.bgp %}
  neighbor {{ bgp.neighbor_ip }}
    remote-as {{ bgp.remote_asn }}
    description {{ bgp.neighbor_desc }}
    update-source loopback0
    address-family l2vpn evpn
      send-community
      send-community extended
      route-reflector-client
{% endfor %}
